.container{
  display: flex;
  justify-content: space-around;

}
.block{
  display: flex;
  /* flex-direction: column; */
  margin: 10px;
  padding: 20px;
  align-self:  center;
  white-space: pre-line;
}
.photoGoylo{
  max-width: 500px;
  max-height: 500px;
}
.text_par{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 15px;
  color:#303030
}
.headTwo{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 15px;
  color:#303030
}
.block_wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.change{
 background-color: beige;
 color:#303030 ;
 font-family: 'Open Sans', sans-serif;
 font-size: 18px;
 text-transform: uppercase;
}